# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bd615da0b36dfa3b27ce5647f202529c4ae07f3688a8e29b2027cdb3f8966f8dfca9b70e5658ed74ebe0269ef792e8feb2d4cd38dd685bf7e89b2bba31370f01

test:
  secret_key_base: d248a7d805d337389f83606dead7a7be52297f426043578b96c79c6780b0a5606c418a5392991aa9bc194b9886eba519b901a6dfb777e8d2bdc3bbcefe46705f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
